## Aliases ##
alias sl='ls'
alias ll='ls -l'
alias ..='cd .. && ls'
alias rgrep='rg'
alias p='ps aux | grep '
alias sudo='sudo '
alias vim='nvim'
alias find='fd'
alias f='vifm'

### Replace basic commands ###
alias du='dust'
alias df='duf'
alias ls='lsd'
alias cat='bat -p'

## Scripts ##
alias bt_manager='bash ~/Sources/scripts/bluetooth_manager.sh'
alias clean_system='bash ~/Sources/scripts/clean_system.sh'
alias myip='bash ~/Sources/scripts/my_ip.sh'
alias yee='python ~/Sources/Projects/TermYeeLight/manager.py'
