## Aliases ##
alias ..='cd .. && ls'
alias f='vifm'
alias find='fd'
alias ll='ls -l'
alias p='ps aux | grep '
alias rgrep='rg'
alias sl='ls'
alias sudo='sudo '
alias vim='nvim'
alias wkill='hyprctl kill'

### Replace basic commands ###
alias cat='bat -p'
alias df='duf'
alias du='dust'
alias ls='lsd'

## Scripts ##
alias bt_manager='bash ~/Sources/scripts/bluetooth_manager.sh'
alias clean_system='bash ~/Sources/scripts/clean_system.sh'
alias myip='bash ~/Sources/scripts/my_ip.sh'
alias yee='python ~/Sources/Projects/TermYeeLight/manager.py'
